# Python
__pycache__/
*.pyc
venv/
.venv/
env/
.ipynb_checkpoints/

# Datasets
data/
dataset/
labels/
*.su
*.segy
*.sgy
*.npy

# Logs & Results
training_loss_log.txt
results*/
*.pt
*.pth
*.ckpt
arquivos/
